.attribution {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: var(--hover);
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  color: var(--blue);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
